<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <h1>
                {% block header %}
                {% endblock %}
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="{{url_for('index')}}">トップページ</a>
                    </li>
                    <li>
                        <a href="{{url_for('write')}}">書き込みページ</a>
                    </li>
                </ul>
                </nav>
        </header>
        <main>
            {% block contents %}
            {% endblock %}
        </main>
    </body>
</html>