{% extends "base.html" %}

{% block title %}
掲示板トップページ
{% endblock %}

{% block header %}
{% if login_user_name %}
掲示板トップページ - {{login_user_name}}さん
{% else %}
掲示板トップページ - ゲストさん
{% endif %}
{% endblock %}

{% block contents %}
<section>
    <form action="{{url_for('index')}}" method="GET">
        <input type="search" name="search_word" value="{{search_word}}"></label>
        <input type="submit" value="検索">
    </form>
</section>
<section>
    {% for message in message_list %}
    <article>
        <p>{{message.id}} - {{message.user_name}}</p>
        <p>{{message.contents}}</p>
    </article>
    {% endfor %}
</section>
{% endblock %}